 img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    /* float: left; */
}
.container{
    border: 1px solid wheat;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.389);
    
}
#active{
    color: rgb(1, 105, 1);
    background-color: rgba(172, 255, 47, 0.312);
    border-radius: 25px;
}
#onboarding{
    color: rgba(14, 14, 143, 0.827);
    background-color: rgba(0, 0, 255, 0.168);
    border-radius: 25px;
}
#awaiting{
    color: rgb(146, 137, 43);
    background-color: rgba(206, 196, 7, 0.379);
    border-radius: 25px;    
}
#edit:hover{
    color: rgba(14, 127, 249, 0.993);
}
 